@model TitleTurtle.Models.Main

@{
    ViewBag.Title = "Edit";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script type="text/javascript" src="~/Scripts/jquery-1.9.1.js"></script>
<script type="text/javascript">

    $(function () {

        $('#home').click(function () {

            $('#img').css("display", "none");
            $('#home').css("display", "none");
            k = false;
        });
    });
</script>


<body class="main">


    @using (Html.BeginForm("EditArticle", "Home", new { id = (Model.NewArticle.MedialInArticles.Count == 0) ? -1 : Model.NewArticle.MedialInArticles.FirstOrDefault<TitleTurtle.Models.MediaInArticle>().Media.MediaID }))
    {
        <div style="margin: 0 auto">
            Категория:
            @{
        List<SelectListItem> list = new List<SelectListItem>();
        foreach (var item in Model.CategoryList)
        {
            list.Add(new SelectListItem() { Text = item.CategoryName, Value = item.CategoryID.ToString() });
        }
            }
            @Html.DropDownListFor(model => model.NewArticle.CategoryID, list, new { @class = "form-control", @style = "margin: 0 auto;" })
            <br>
            Название: @Html.TextBoxFor(model => model.NewArticle.ArticleTitle, new { @class = "form-control", @style = "margin: 0 auto;" })
            @Html.HiddenFor(model => model.NewArticle.ArticleID)
            <br>
            Cодержимое: @Html.TextAreaFor(model => model.NewArticle.ArticleText, new { @class = "form-control", @style = "min-height:200px;margin: 0 auto;" })
            <br>
            @try
            {

                @Html.Raw("<img id='img' style='width:260px; height:180px;' src=\"data:image/jpeg;base64,"
                                + Convert.ToBase64String(Model.NewArticle.MedialInArticles.First<TitleTurtle.Models.MediaInArticle>().Media.MediaData) + "\" />")
                <br>
<<<<<<< 6274680aa155cacbac32aeae8e3c47cccce7db68

                @Html.ActionLink("Del", "DeletePicFromArticle", "Home", new { ArticleId = Model.NewArticle.MedialInArticles.First<TitleTurtle.Models.MediaInArticle>().Media.MediaID }, null)

                <input id="home" type="button" value="Удалить">
=======
       
                @Html.ActionLink("Удалить картинку","DeletePicFromArticle", "Home", new { MediaId = Model.NewArticle.MedialInArticles.First<TitleTurtle.Models.MediaInArticle>().Media.MediaID, ArticleId = Model.NewArticle.ArticleID },null)

               
>>>>>>> d4b4384b12f305006094540ac79ba1a3d73b1a53
            }
            catch
            {

            }
            <br>
            <br>
            <input type="submit" value="Сохранить" class="btn" />
        </div>
    }


</body>
