@model TitleTurtle.Models.Main

@{
    ViewBag.Title = "Edit";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script type="text/javascript" src="@Url.Content("~/Scripts/Editor/tinymce.min.js")"></script>
<script type="text/javascript">
    tinymce.init({
        selector: "textarea"
        //inline: true
    });
    onload = function () {
        var str = tinymce.activeEditor.getContent({ format: 'raw' });
        console.debug(str);
        tinymce.activeEditor.setContent(str, { format: 'raw' });
    }
</script>

<script type="text/javascript" src="~/Scripts/jquery-1.9.1.js"></script>
<script type="text/javascript">

    $(function () {

        $('#home').click(function () {

            $('#img').css("display", "none");
            $('#home').css("display", "none");
            k = false;
        });
    });

    onload = function () {
        var str = tinymce.get('NewArticle_ArticleText').getContents();
        tinymce.get('NewArticle_ArticleText').setContents(str, { format: "raw" });
    }
</script>


<body class="main">


    @using (Html.BeginForm("EditArticle", "Home", new { id = (Model.NewArticle.MedialInArticles == null || Model.NewArticle.MedialInArticles.Count == 0) ? -1 : Model.NewArticle.MedialInArticles.FirstOrDefault<TitleTurtle.Models.MediaInArticle>().Media.MediaID }, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
        <div style="margin: 0 auto">
            Категория:
            @{
        List<SelectListItem> list = new List<SelectListItem>();
        foreach (var item in Model.CategoryList)
        {
            list.Add(new SelectListItem() { Text = item.CategoryName, Value = item.CategoryID.ToString() });
        }
            }
            @Html.DropDownListFor(model => model.NewArticle.CategoryID, list, new { @class = "form-control", @style = "margin: 0 auto;" })
            <br>
            Название: @Html.TextBoxFor(model => model.NewArticle.ArticleTitle, new { @class = "form-control", @style = "margin: 0 auto;" })
            @Html.HiddenFor(model => model.NewArticle.ArticleID)
            @Html.ValidationMessageFor(model => model.NewArticle.ArticleTitle, null, new { style = "color:red" })
            <br>
            Cодержимое: @Html.TextAreaFor(model => model.NewArticle.ArticleText, new { @class = "form-control", @style = "min-height:200px;margin: 0 auto;" })
            @Html.ValidationMessageFor(model => model.NewArticle.ArticleText, null, new { style = "color:red" })
            @*Html.*@
            <br>
            @try
            {

                @Html.Raw("<img id='img' style='' src=\"data:image/jpeg;base64," @* width:260px; height:180px; *@
 + Convert.ToBase64String(Model.NewArticle.MedialInArticles.First<TitleTurtle.Models.MediaInArticle>().Media.MediaData) + "\" />")
                <br>

                @Html.ActionLink("Удалить картинку", "DeletePicFromArticle", "Home", new { MediaId = Model.NewArticle.MedialInArticles.First<TitleTurtle.Models.MediaInArticle>().Media.MediaID, ArticleId = Model.NewArticle.ArticleID }, new { @style = "color:#FF0000" })


            }
            catch
            {

                <div class="editor-field">
                    @Html.EditorFor(model => model.NewMedia.MediaData)
                    @Html.ValidationMessageFor(model => model.NewMedia.MediaData)
                    @Html.HiddenFor(model => model.NewMedia.MediaID)

                </div>

                <div class="editor-field">
                    <div class="editor-label">Размер загружаемого файла не должен превышать 2 МВ и должен иметь формат (jpeg,jpg,png,gif)  </div>
                    <input id="inputImage" type="file" accept="image/jpeg,image/png,image/gif" name="uploadImage" />
                    <br>
                    <br>
                    <p style="color:#FF0000">@ViewBag.Error</p>
                    <br>
                </div>
            }
            <br>
            <br>
            <input type="submit" value="Сохранить" class="btn" />

        </div>
    }


</body>
<script type="text/javascript">
    tinymce.init({
        selector: "textarea"
    });

    window.onload = addListnr();
    function addListnr() {
        inputImage.addEventListener("change", function () {
            if (inputImage.files[0].size > 2000000) {
                inputImage.value = null;
                alert('Максимальный размер файла 2 MB!');
                return false;
            }
            @*else if (inputImage.files[0].type != "gif" || inputImage.files[0].type != "jpg" || inputImage.files[0].type != "jpeg" || inputImage.files[0].type != "png") {
                inputImage.value = null;
                alert('Недопустимый формат файла');
                return false;
            }*@
            return true;
        });
    }
        </script>
