<div id="bod">
    <div id="manage2">

        @model TitleTurtle.Models.FeedbackModel

        @{
            ViewBag.Title = "Feedback";
        }

        @using (Ajax.BeginForm(
"feedback",
"home",
new AjaxOptions
{
    HttpMethod = "post",
    UpdateTargetId = "target",
    LoadingElementId = "sendingProgress",
    InsertionMode = InsertionMode.Replace
}))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>Обратная связь</legend>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Email)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Email)
                    <div id="errmas">
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.MessageTopic)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.MessageTopic)
                    <div id="errmas">
                        @Html.ValidationMessageFor(model => model.MessageTopic)
                    </div>
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.MessageText)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.MessageText)
                    <div id="errmas">
                        @Html.ValidationMessageFor(model => model.MessageText)
                    </div>
                </div>
                <div id="input_back">
                    <p>
                        <input type="submit" value="Отправить" />
                        <span id="sendingProgress" style="display: none;">
                            ждите, идет отправка сообщения...

                            <img src='@Href("~/Content/Images/ajax_loader_big.gif")' alt="Ждите" />
                        </span>
                    </p>
                    <p id="target"></div>
            </fieldset>
        }
    
        <div >
            @Html.ActionLink("Назад", "Index")
        </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
</div>
</div>



<link href="~/Content/bootstrap.css" rel="stylesheet" />