@model TitleTurtle.Models.FeedbackModel
@{
    ViewBag.Title = "Feedback";
}

<div class="row">
    <div class="col-md-12">
        @using (Ajax.BeginForm("feedback", "home",
            new AjaxOptions
            {
                HttpMethod = "post",
                UpdateTargetId = "target",
                LoadingElementId = "sendingProgress",
                InsertionMode = InsertionMode.Replace
            }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <h1>Обратная связь</h1>
            <div class="editor-label">
                @Html.LabelFor(model => model.Email)<br />
                @Html.ValidationMessageFor(model => model.Email, null, new { style = "color:red" })
            </div>
            <div class="editor-field">
                <input class="form-control" style="margin:0 auto" placeholder="Email address" data-val="true" data-val-required="Требуется поле Адрес электронной почты." id="Email" name="Email" type="email" value="">
                <div id="errmas">

                </div>
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.MessageTopic)<br />
                @Html.ValidationMessageFor(model => model.MessageTopic, null, new { style = "color:red" })
            </div>
            <div class="editor-field">
                <input data-val="true" style="margin:0 auto" class="form-control" placeholder="Problem" data-val-length="Поле Тема пользователя должно иметь строковое значение, максимальная длина которого — 50." data-val-length-max="50" data-val-required="Требуется поле Тема пользователя." id="MessageTopic" name="MessageTopic" type="text" value="">
                <div id="errmas">
                </div>
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.MessageText)<br />
                @Html.ValidationMessageFor(model => model.MessageText, null, new { style = "color:red" })
            </div>
            <div class="editor-field">
                <textarea class="form-control" style="margin:0 auto" placeholder="Message" data-val="true" data-val-length="Поле Сообщение должно иметь строковое значение, максимальная длина которого — 250." data-val-length-max="250" data-val-required="Требуется поле Сообщение." id="MessageText" name="MessageText"></textarea>
                <div id="errmas">
                </div>
            </div>
            <div id="input_back">
                <p>
                    <input type="submit" value="Отправить" />
                    <span id="sendingProgress" style="display: none;">
                        ждите, идет отправка сообщения...
                        <img src='@Href("~/Content/Images/ajax_loader_big.gif")' alt="" />
                    </span>
                </p>
                <p id="target">
            </div>
        }
        <div>
            @Html.ActionLink("Назад", "Index")
        </div>
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
    </div>
</div>