@model TitleTurtle.Models.Main
@{
    ViewBag.Title = "Index";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
@if(User.IsInRole("Admin") ||  User.IsInRole("Author"))
{
<p>
    @Html.ActionLink("Добавить новую статью", "CreateArticle", "Home", new { @class = "btn" })
</p>
}
<div class="col-sm-4 col-md-3 sidebar">
    <span  class="list-group-item active">Категории</span>
    <a href="@Url.Action("Index", "Home")" class="list-group-item">
        <i class="fa fa-comment-o" style="display: inline-block">Все</i>
    </a>
    @foreach (var category in Model.CategoryList)
    {
        <a href="@Url.Action("Index", "Home", new { categoryId = category.CategoryID })" class="list-group-item">
            <i class="fa fa-comment-o" style="display: inline-block">@category.CategoryName</i>
        </a>
    }
    @*Just for admin*@
    @if(User.IsInRole("Admin"))
    {
        using (Html.BeginForm("CreateCategory", "Home"))
    {
        <div class="editor-field list-group-item">
            @Html.TextBoxFor(model => model.NewCategory.CategoryName, new { @class = "message-label1" })
            <input type="submit" value="Новая категория" class="button-index btn">
        </div>
    } 
    }

    
</div>
<fieldset class="main">
    <legend>Статьи</legend>
    @foreach (var item in Model.ArticleList)
    {
        <div class="list-group-item">
            @item.ArticleTitle
            <a href="@Url.Action("DeleteArticle", "Home", new { id = item.ArticleID })" class="glyphicon glyphicon-remove" style="display:inline-block; float:right"></a>
            <a href="@Url.Action("EditArticle", "Home", new { id = item.ArticleID })" class="glyphicon glyphicon-pencil" style="display:inline-block; float:right;margin-right:20px"></a>
            <a href="@Url.Action("ShowArticle", "Home", new { id = item.ArticleID })" class="glyphicon glyphicon-play" style="display:inline-block; float: right; margin-right:20px"></a>
        </div>
    }
</fieldset>
