@model TitleTurtle.Models.ShowArticle


@{
    ViewBag.Title = "Show";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<head>
    <title>@Model.CurrentArticle.ArticleTitle</title>
</head>
<body>
    @using (Html.BeginForm("ShowArticle", "Home"))
    {
        <div class="main">
            <h2>@Html.DisplayFor(model => model.Article.ArticleTitle)</h2>
            @Html.HiddenFor(model => model.Article.ArticleID)
            @Html.DisplayFor(model => model.Article.ArticleText)<br>
            @if (Model.CurrentArticle.MedialInArticles.Count != 0)
            {
                try
                {
                    @Html.Raw("<img style='width:260px; height:180px;' src=\"data:image/jpeg;base64,"
                                                                          + Convert.ToBase64String(Model.Article.MedialInArticles.First().Media.MediaData) + "\" />")
                }
                catch (Exception)
                {

                }
            }
            <br>
            <p>Добавил:@Model.Article.User.UserFirstName</p>
            <p>Дата создания: @Model.Article.Edits.ElementAt(0).Date</p>
            @if (Model.Article.Edits.Count() > 1)
            {
                <p>
                    Дата последнего изменения:
                    @Model.Article.Edits.ElementAt(Model.Article.Edits.Count() - 1).Date
                </p>
            }
            <p style="color:chartreuse">@Model.Article.Ratings.ElementAt(0).RatingLike</p>
            <p style="color:crimson">@Model.Article.Ratings.ElementAt(0).RatingDislike</p>
            <p>@(Model.Article.Ratings.ElementAt(0).RatingLike - Model.Article.Ratings.ElementAt(0).RatingDislike)</p>
            <br />
            @Html.ActionLink("UP vote",
                                 "Vote",
                                 "Home",
                                 new { _id = Model.Article.ArticleID.ToString(), up = true },
                                 null)
            <br />
            @Html.ActionLink("Down vote",
                    "Vote",
                    "Home",
                    new { _id = Model.Article.ArticleID.ToString(), up = false },
                    null)

        </div>  
    }
    <h2>Comments</h2>
 
@using (Html.BeginForm("CreateComment", "Home", FormMethod.Post))
{
    <input type="hidden" name="currentArticle.ArticleID" value=@Model.CurrentArticle.ArticleID.ToString() />
    <input type="hidden" name="CommentList" value=@Model.CommentList />
<fieldset>
    <legend>Добавить запись</legend>
        
    @User.Identity.Name
        Введите сообщение: 
            <br /> 
  @Html.EditorFor(model => model.NewComment.Article.ArticleText)
             <br />
        <input type="submit" value=@User.Identity.Name name ="Username"/>
    </fieldset>
}
<script>
    function clickIt() {
        $("#sub").click();
    }
</script>
<h3>Все записи</h3>
@foreach (var item in Model.CommentList) {
        <div style="background-color:silver; padding:3px; margin:5px;">
           
        <p>@item.Article.ArticleText
        </p>
        <a href="@Url.Action("DeleteComment", "Home", new { id = item.Article.ArticleID})" class="glyphicon glyphicon-remove" style="display:inline-block; float:right">delete</a>
    </div>
     
}

</body>
