@model PagedList.IPagedList<TitleTurtle.Models.Article>
@using PagedList.Mvc;



@{
    ViewBag.Title = "Поиск";
}
<div id="bod">
    <div id="manage2">
        <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
        <div id="MyArticle">
            <img id="img_article" src="../Images/lans.png" />
            <div class="Article">Поиск</div>
        </div>
        <div id="sort">
            @using (Html.BeginForm("Sort", "Home", FormMethod.Get))
            {
                
                    @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                    <input type="submit" class="button-category" value="Искать!" />
                
            }
        </div>
        <div>
            <table>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ArticleTitle)
                        </td>
                        <td> </td>
                        <br>
                        <td>
                            @{
                    string shortText;
                    if (item.ArticleText.Length > 40)
                    {
                        shortText = item.ArticleText.Substring(0, 40);
                    }
                    else
                    {
                        shortText = item.ArticleText;
                    }
                            }
                            <p>@Html.Raw(shortText)<p>
                            @Html.ActionLink("Подробнее", "ShowArticle", "Home", new { id = item.ArticleID }, null)
                        </td>
                    </tr>
                }

            </table>

            <br />
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount


            @Html.PagedListPager(Model, page => Url.Action("Sort", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
        </div>
        </div>
</div>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
