<div id="bod">
    <div id="manage2">
        @model PagedList.IPagedList<TitleTurtle.Models.Article>
        @using PagedList.Mvc;
        <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

        @{
            ViewBag.Title = "Articles";
        }

        <h2>Articles</h2>

@using (Html.BeginForm("Sort", "Home", FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
        <table>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ArticleTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ArticleText)
                    </td>
                </tr>
            }
        </table>
        <br />
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Sort", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
    </div>
</div>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
