<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />  
    <link href="~/Content/style.css" rel="stylesheet" />
    <script src="js/jquery-1.4.4.min.js"></script>
    <script src="js/slides.min.jquery.js"></script>

    <title>@ViewBag.Title - Title Turtle</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <header id="header">
        <div id="wrap_nav" style="margin-top: 0px">
            <div class="main_col">
                
                <div class="logo">
                    <a href="#">
                        <img src="~/.jpg" />
                    </a>
                </div>
                <nav id="nav">
                    <ul id="navul">
                        <li class="navli">@Html.ActionLink("Все статьи", "Index", "Home", null)</li>
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="navli">@Html.ActionLink("Управление", "Control", "Account", null)</li>
                        }
                        <li class="navli">@Html.ActionLink("Поиск", "Sort", "Home", null)</li>

                        <li class ="navli"><div id="head1"></div></li>
                        @Html.Partial("_LoginPartial")
                    </ul>
                </nav>
            </div>

        </div>
    </header>
    <!--<img src="~/Images/icon-faceb.png" alt="fb" title="fb" />-->
    <!--<img src="~/Images/icon-tvitt.png" />--> 
    <div class="">
        
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
