<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Title Turtle</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <header>
        <div class="page-header" style="margin-top: 0px">
            <ul class="nav nav-tabs">
                <li>@Html.ActionLink("Все статьи", "Index", "Home", null, new { @class = "navbar-brand" })</li>                       
                @if(User.IsInRole("Admin"))    
                {
                <li>@Html.ActionLink("Управление", "Control", "Account", null, new { @class = "navbar-brand" })</li>
                }
                @Html.Partial("_LoginPartial")
            </ul>
        </div>

    </header>
    <div class="mainBox">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
