@model TitleTurtle.Models.EditUser
@{
    ViewBag.Title = "Profile";
}
<div class="row">
    <div class="col-md-12">
        <h1>Редактирование профиля</h1>
        @using (Html.BeginForm("EditUser", "Account", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }

            <p>@ViewBag.Message</p>
            @Html.HiddenFor(model => model.UserID)
            @Html.HiddenFor(model => model.Login)

            <div>
                @if (Model.NewMedia != null)
                {
                    @Html.Raw("<img id='img' style='' src=\"data:image/jpeg;base64,"
                              + Convert.ToBase64String(Model.NewMedia.MediaData) + "\" />")
                }
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Имя</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(model => model.UserFirstName, new { @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(model => model.UserFirstName, null, new { style = "color:red" })
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Фамилия</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(model => model.UserLastName, null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.UserLastName, null, new { style = "color:red" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Электронная почта:</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(model => model.ContactEmail, null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ContactEmail, null, new { style = "color:red" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">
                    Контактный телефон:
                </label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(model => model.ContactMobile, null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ContactMobile, null, new { style = "color:red" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Веб-страницы:</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(model => model.ContactWebPage, null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ContactWebPage, null, new { style = "color:red" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    Адрес:
                </label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(model => model.PersDataAdress, null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.PersDataAdress, null, new { style = "color:red" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    Другое:
                </label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(model => model.PersDataOther, null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.PersDataOther, null, new { style = "color:red" })
                </div>
            </div>
            <div class="form-group">
                @Html.ValidationMessageFor(model => model.NewMedia.MediaData)
                @Html.HiddenFor(model => model.NewMedia.MediaID)
            </div>
            <div>
                <div>Размер загружаемого файла не должен превышать 2 МВ <br />и должен иметь формат (jpeg,jpg,png,gif)  </div>
                <input id="inputImage" class="btn btn-default" type="file" accept="image/jpeg,image/png,image/gif" name="uploadImage" />
                <br />
                <br />
                <p style="color:red">@ViewBag.Error</p>
            </div>
            <a class="btn-default btn btn-sm" href="/Account/Manage">Изменить пароль</a><br />
            <p><input type="submit" class="btn btn-primary btn-lg" value="Save" /></p>
        }
    </div>
</div>
<script type="text/javascript">
    window.onload = addListnr();
    function addListnr() {
        inputImage.addEventListener("change", function () {
            if (inputImage.files[0].size > 2000000) {
                inputImage.value = null;
                alert('Максимальный размер файла 2 MB!');
                return false;
            }
            @*else if (inputImage.files[0].type != "gif" || inputImage.files[0].type != "jpg" || inputImage.files[0].type != "jpeg" || inputImage.files[0].type != "png") {
                 inputImage.value = null;
                 alert('Недопустимый формат файла');
                 return false;
             }*@
            return true;
        });
    }
</script>

