@model TitleTurtle.Models.EditUser
@{
    ViewBag.Title = "Profile";
}
<div style="width: 800px; margin: 0 auto">
    @using (Html.BeginForm("EditUser", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
        <p>@ViewBag.Message</p>

        @Html.HiddenFor(model => model.UserID)
        @Html.HiddenFor(model => model.Login)

        <div class="">
            @if (Model.NewMedia != null)
            {
                @Html.Raw("<img id='img' style='width:180px; height:260px;' src=\"data:image/jpeg;base64,"
                                + Convert.ToBase64String(Model.NewMedia.MediaData) + "\" />")
            }

        </div>
        <div class="">
            <p>Имя</p>
            @Html.EditorFor(model => model.UserFirstName)
            @Html.ValidationMessageFor(model => model.UserFirstName, null, new { style = "color:red" })
        </div>
        <div class="">
            <p>Фамилия</p>
            @Html.EditorFor(model => model.UserLastName)
            @Html.ValidationMessageFor(model => model.UserLastName, null, new { style = "color:red" })
        </div>

        <div class="">
            <p>Контактная электропочта:</p>
            @Html.EditorFor(model => model.ContactEmail)
            @Html.ValidationMessageFor(model => model.ContactEmail, null, new { style = "color:red" })
        </div>

        <div class="">
            <p>Контактный телефон:</p>
            @Html.EditorFor(model => model.ContactMobile)
            @Html.ValidationMessageFor(model => model.ContactMobile, null, new { style = "color:red" })
        </div>
        
        <div class="">
            <p>Веб-страницы:</p>
            @Html.EditorFor(model => model.ContactWebPage)
            @Html.ValidationMessageFor(model => model.ContactWebPage, null, new { style = "color:red" })
        </div>
        
        <div class="">
            <p>Адрес:</p>
            @Html.EditorFor(model => model.PersDataAdress)
            @Html.ValidationMessageFor(model => model.PersDataAdress, null, new { style = "color:red" })
        </div>
        
        <div class="">
            <p>Другое:</p>
            @Html.EditorFor(model => model.PersDataOther)
            @Html.ValidationMessageFor(model => model.PersDataOther, null, new { style = "color:red" })
        </div>

        <div class="editor-field">

            @Html.ValidationMessageFor(model => model.NewMedia.MediaData)
            @Html.HiddenFor(model => model.NewMedia.MediaID)


        </div>
        <div class="">
            <div class="">Размер загружаемого файла не должен превышать 2 МВ <br />и должен иметь формат (jpeg,jpg,png,gif)  </div>
            <input type="file" accept="image/jpeg,image/png,image/gif" name="uploadImage" />
            <br />
            <br />
            <p style="color:#FF0000">@ViewBag.Error</p>
        </div>

        <a class="navli-user" href="/Account/Manage" title="Manage">Изменить пароль</a>
        <p>
            <input type="submit" value="Save" />
        </p>

    }
</div>
