<div class="container">
    <div class="root">
        @model TitleTurtle.Models.RegisterModel
        @{
            ViewBag.Title = "Register";
        }

        
            <div id="MyArticle">
                <img id="img_article" src="/Images/regist.png" />
                <div class="Article">Registration Form</div>
            </div>
             @using (Html.BeginForm())
                {
                   <div class="regist-head"> @Html.AntiForgeryToken()
                    @Html.ValidationSummary()</div>

                      <div id="form">
                        <form class="form-signin">
                            @Html.TextBoxFor(x => x.UserFirstName)
                            @Html.TextBoxFor(x => x.UserLastName)
                            @Html.TextBoxFor(x => x.ContactEmail)
                            <input data-val="true" placeholder="User name" class="form-control" data-val-required="Fill in the Password field!" id="UserName" name="UserName" type="text" value="" />
                            <input data-val="true" placeholder="Password" class="form-control" data-val-length="Weak password!" data-val-length-max="100" data-val-length-min="6" data-val-required="Fill in the Password field!" id="Password" name="Password" type="password" />
                            <input data-val="true" placeholder="Confirm Password" class="form-control" data-val-length="Weak password!" data-val-length-max="100" data-val-length-min="6" data-val-required="Fill in the Password field!" id="ConfirmPassword" name="ConfirmPassword" type="password" />
                            
                            <input type="submit" value="Register" class="button-regist" />
                    </form>
                        </div>
                }
           
                @section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
                }
            </div>
        </div>
    
<link href="~/Content/bootstrap.css" rel="stylesheet" />