@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $(window).bind("capsOn", function (event) {
                $("#statetext").html("Caps Lock включен");
            });
            $(window).bind("capsOff", function (event) {
                $("#statetext").html("");
            });
            $(window).bind("capsUnknown", function (event) {
                $("#statetext").html("");
            });

            $(window).capslockstate();
            var initialState = $(window).capslockstate("state");
            $("#statetext").html(initialState);
        });
    </script>
}

@model TitleTurtle.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}
<div class="container">
    <div class="root">
        <div id="MyArticle">
            <img id="img_article" src="/Images/regist.png" />
            <div class="Article">Registration Form</div>
        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
           
            <div class="regist-head">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()
            </div>

            <div id="form">
                <form class="form-signin">
                    @Html.TextBoxFor(x => x.UserFirstName, new { @class = "form-control", @placeholder = "Имя" })
                    @Html.ValidationMessageFor(model => model.UserFirstName, null, new { style = "color:red" })
                    @Html.TextBoxFor(x => x.UserLastName, new { @class = "form-control", @placeholder = "Фамилия" })
                    @Html.ValidationMessageFor(model => model.UserLastName, null, new { style = "color:red" })
                    @Html.TextBoxFor(x => x.ContactEmail, new { @class = "form-control", @placeholder = "Електронная почта" })
                    @Html.ValidationMessageFor(model => model.ContactEmail, null, new { style = "color:red" })
                    @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", @placeholder = "Логин" })
                    @Html.ValidationMessageFor(model => model.UserName, null, new { style = "color:red" })
                    @Html.TextBoxFor(x => x.Password, new { @class = "form-control", @placeholder = "Пароль", @type = "password" })
                    @Html.ValidationMessageFor(model => model.Password, null, new { style = "color:red" })
                    @Html.TextBoxFor(x => x.ConfirmPassword, new { @class = "form-control", @placeholder = "Подтвердите пароль", @type = "password" })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, null, new { style = "color:red" })
                    <input type="submit" value="Register" class="button-regist" />
                </form>
            </div>
            <span id="statetext"></span>
        }
    </div>
</div>

<link href="~/Content/bootstrap.css" rel="stylesheet" />