<div class="container">

        @model TitleTurtle.Models.RegisterModel
        @{
            ViewBag.Title = "Register";
        }

        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
            <h2>Create a new account.</h2>
        </hgroup>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()

            <fieldset>
                <legend>Registration Form</legend>
                <ol>
                    <li>
                        @Html.LabelFor(m => m.UserFirstName)
                        @Html.TextBoxFor(m => m.UserFirstName)
                    </li>
                    <li>
                        @Html.LabelFor(m => m.UserLastName)
                        @Html.TextBoxFor(m => m.UserLastName)
                    </li>
                    <li>
                        @Html.LabelFor(m => m.ContactEmail)
                        @Html.TextBoxFor(m => m.ContactEmail)
                    </li>
                    <li>
                        @Html.LabelFor(m => m.Login)
                        @Html.TextBoxFor(m => m.Login)
                    </li>
                    <li>
                        @Html.LabelFor(m => m.UserName)
                        @Html.TextBoxFor(m => m.UserName)
                    </li>
                    <li>
                        @Html.LabelFor(m => m.Password)
                        @Html.PasswordFor(m => m.Password)
                    </li>
                    <li>
                        @Html.LabelFor(m => m.ConfirmPassword)
                        @Html.PasswordFor(m => m.ConfirmPassword)
                    </li>
                </ol>
                <input type="submit" value="Register" />
            </fieldset>
        }

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
    </div>
</div>
<link href="~/Content/bootstrap.css" rel="stylesheet" />