 @model TitleTurtle.Models.EditUser
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<p>@ViewBag.Message</p>

@Html.HiddenFor(model => model.UserID)
@Html.HiddenFor(model => model.Login)
<div class="">
    @if (Model.NewMedia != null)
    {
        @Html.Raw("<img id='img' style='width:180px; height:260px;' src=\"data:image/jpeg;base64,"
                                + Convert.ToBase64String(Model.NewMedia.MediaData) + "\" />")
    }

</div>
Имя:
        <div class="editor-field">
            @Html.DisplayFor(model => model.UserFirstName, new {style="color: black"})

        </div>

Фамилия:
        <div class="editor-field">
            @Html.DisplayFor(model => model.UserLastName, new {style="color: black"})
        </div>

Email:
        <div class="editor-field">
            @Html.DisplayFor(model => model.ContactEmail, new { style = "color: black" })

        </div>

Телефон:
        <div class="editor-field">
            @Html.DisplayFor(model => model.ContactMobile, new { style = "color: black" })
        </div>

Дата рождения:
        <div class="editor-field">
            @Html.DisplayFor(model => model.PersDataDate, new { style = "color: black" })
        </div>
@if (User.Identity.Name != Model.Login)
{
    if (Model.UserIsFollowed)
    {
    @Html.ActionLink("Отписаться", "UnFollow", "Account", new { followerID = WebSecurity.GetUserId(User.Identity.Name), followedID = Model.UserID }, new { style = "color: black" })
    }
    else
    {
    @Html.ActionLink("Подписаться", "Follow", "Account", new { followerID = WebSecurity.GetUserId(User.Identity.Name), followedID = Model.UserID }, new { style = "color: black" })
    }
}
<p>
    <input type="submit" value="Save" />
</p>
