@model TitleTurtle.Models.EditUser

@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<title>Профиль пользователя @Model.Login</title>

@*Html.HiddenFor(model => model.UserID)
@Html.HiddenFor(model => model.Login)*@
<div class ="container">
    <p>@ViewBag.Message</p>
    <h2>@Model.Login</h2>
    <!--Image-->
    <div>
        @if (Model.NewMedia != null)
        {
            @Html.Raw("<img id='img' style='max-width: 360px; max-height: 500px' src=\"data:image/jpeg;base64,"
                      + Convert.ToBase64String(Model.NewMedia.MediaData) + "\" />")
        }
        else
        {
            <img id ="img" style="width: 350px; height: 260px" src="/Images/noavatar.png"/>
        }
    </div>

    <table border ="0" cellpadding ="7" cellspacing="7">
        </br>
        <tr><td>Имя</td><td>@Model.UserFirstName</td></tr>
        <tr><td>Фамилия</td><td>@Model.UserLastName</td></tr>
        <tr><td>Электронная почта</td><td>@Model.ContactEmail</td></tr>
        <tr><td>Веб-страницы</td><td>@Model.ContactWebPage</td></tr>
        <tr><td>Телефон</td><td>@Model.ContactMobile</td></tr>
        <tr><td>Дата рождения</td><td>@Model.PersDataDate</td></tr>
        <tr><td>Адрес</td><td>@Model.PersDataAdress</td></tr>
        <tr><td>Другое</td><td>@Model.PersDataOther</td></tr>
        
    </table>

    @if (User.Identity.Name != Model.Login)
    {
        if (Model.UserIsFollowed)
        {
            @Html.ActionLink("Отписаться", "UnFollow", "Account", new { followerID = WebSecurity.GetUserId(User.Identity.Name), followedID = Model.UserID }, new { style = "color: black" })
        }
        else
        {
            @Html.ActionLink("Подписаться", "Follow", "Account", new { followerID = WebSecurity.GetUserId(User.Identity.Name), followedID = Model.UserID }, new { style = "color: black" })
        }
    }
    else
    {
        @Html.ActionLink("Редактировать", "EditUser", "Account", new { id = Model.UserID }, new { style = "color:blue" })
    }
    <p>
    @foreach(var user in Model.FellowedUsers)
    {
        @user.FullName
    }
    </p>
</div>