@model TitleTurtle.Models.EditUser

@{
    Layout = "/Views/Shared/_Layout.cshtml";

    ViewBag.Title = Model.Login;

}

<title>Профиль пользователя @Model.Login</title>
<div class="row">
    <div class="col-md-12">
        @*Html.HiddenFor(model => model.UserID)
            @Html.HiddenFor(model => model.Login)*@
        <p>@ViewBag.Message</p>
        <h2>@Model.FullName</h2>
        <div class="row container">
            <div class="col-md-9">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Имя</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">@Model.UserFirstName</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Фамилия</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">@Model.UserLastName</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Электронная почта</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">@Model.ContactEmail</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Веб-страница</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">@Model.ContactWebPage</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Телефон</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">@Model.ContactMobile</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Дата рождения</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">@Model.PersDataDate</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Адрес</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">@Model.PersDataAdress</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Другое</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">@Model.PersDataOther</p>
                        </div>
                    </div>
                </form>
                @if (User.Identity.Name != Model.Login)
                {
                    if (Model.UserIsFollowed)
                    {
                        @Html.ActionLink("Отписаться", "UnFollow", "Account", new { followerID = WebSecurity.GetUserId(User.Identity.Name), followedID = Model.UserID }, new { @class = "btn btn-info" })
                    }
                    else
                    {
                        @Html.ActionLink("Подписаться", "Follow", "Account", new { followerID = WebSecurity.GetUserId(User.Identity.Name), followedID = Model.UserID }, new { @class = "btn btn-info" })
                    }
                }
                else
                {
                    @Html.ActionLink("Редактировать", "EditUser", "Account", new { id = Model.UserID }, new { @class = "btn btn-info" })
                }
            </div>
            <!--Image-->
            <div class="col-md-3">
                @if (Model.NewMedia != null)
                {
                    @Html.Raw("<img id='img' style='max-width: 360px; max-height: 500px;' src=\"data:image/jpeg;base64,"
                          + Convert.ToBase64String(Model.NewMedia.MediaData) + "\" />")
                }
                else
                {
                    <img id="img" style="max-width: 350px; max-height: 260px" src="/Images/noavatar.png" />
                }
            </div>
        </div>
        <div class="row container">
            <hr>
            <p>Статьи:<p>
                @foreach (var item in Model.ListofArticles)
                {
                    <div class="well well-sm">
                        @Html.ActionLink(item.ArticleTitle, "ShowArticle", "Home", new { id = item.ArticleID }, new { style = "margin: 0; padding-right: 80px; line-height: 15px; color: black" })
                        @if ((User.IsInRole("Author") && User.Identity.Name == item.User.UserFirstName) || User.IsInRole("Admin"))
                        {
                            <div class="float-right">
                                <a href="@Url.Action("DeleteArticle", "Home", new { id = item.ArticleID })" onclick="return confirm('Вы уверены, что хотите удалить статью?') ? true : false;">
                                    <img class="articl-bot" title="Удалить статью" src="~/Images/del.png" onmouseover="this.src = '/Images/del-2.png'" onmouseout="    this.src = '/Images/del.png'" alt="Удалить статью" />
                                </a>
                                <a href="@Url.Action("EditArticle", "Home", new { id = item.ArticleID })">
                                    <img class="articl-bot" title="Редактировать статью" src="~/Images/cor.png" onmouseover="this.src = '/Images/cor-2.png'" onmouseout="    this.src = '/Images/cor.png'" alt="Редактировать статью" />
                                </a>
                            </div>
                        }
                <p>Добавлено @item.Edits.ElementAt(0).Date.ToString() пользователем @Html.ActionLink(@item.User.FullName, "ShowUser", "Account", new { id = item.UserID }, new { style = "color: black" })</p>
                <p style="color:@(item.Ratings.ElementAt(0).RatingLike - item.Ratings.ElementAt(0).RatingDislike < 0 ? "red" : "green"); margin:0; padding:0; line-height: 15px">Рейтинг: @(item.Ratings.ElementAt(0).RatingLike - item.Ratings.ElementAt(0).RatingDislike)</p>
                <p>
                    @if (item.CommentCount == 0)
                    {
                        <b>Нет комментариев</b>
                    }
                    else
                    {
                        <a href="@Url.Action("ShowArticle", "Home", new {id = item.ArticleID})#comments" style="color: black"><b>@item.CommentCount @((item.CommentCount % 100) / 10 != 1 ? item.CommentCount % 10 == 1 ? "комментарий" : (item.CommentCount % 10 > 1 && item.CommentCount % 10 < 5) ? "комментария" : "комментариев" : "комментариев")</b></a>
                    }
                    Просмотров: @item.Ratings.ElementAt(0).RatingView
                </p>
            </div>
                }
                <hr />
                <p>Подписки:</p>
                @if (WebSecurity.CurrentUserId == Model.UserID)
                {
                    foreach (var user in Model.FollowedUsers)
                    {
                        @Html.ActionLink(user.FullName, "ShowUser", "Account", new { id = user.UserID }, null)
                    }
                }
            </div>
        </div>
        </div>